<div class="container">
  <% if user_signed_in? %>
    <div class="alert alert-success" role="alert">
      You have successfully signed in.
    </div>
  <% else %>
    <div class="alert alert-danger" role="alert">
      Invalid email or password.
    </div>
    <%= render 'new' %>
  <% end %>
</div>
 